.row
  .col-sm-12
    %h5.textSpacer-sm
      %b Il Kit comprende:
  .col-xs-6
    %ul
      %li Fusoliera
      %li Ali
      %li Piano di quota
      %li Supporto motore
      %li Astine di rinvio
  .col-xs-6
    %ul
      %li Piano verticale
      %li Pellicola adesiva
      %li Elastici
      %li Squadrette alettoni
      %li Perni ala