.spacer-big.spacer-top.center
  %h3 Dettagli

.spacer-big.spacer-top
  .spacer.spacer-horizontal
    .row
      .col-sm-6
        .details.spacer
          %h4 Modello Base
          .spacer-small.spacer-top
            = partial "partials/baseKit"

      .col-sm-6
        .details.spacer
          %h4 Modello Completo
          .spacer-small.spacer-top
            = partial "partials/fullKit"