%div.carousel-background
  .draggable.spacer.spacer-vertical
    %h5.center.text-light
      /%span.icon.arrow-left
      %span Clicca e trascina per ruotare il modello
      /%img.icon.arrow-right
  .head-spacer
    .threesixty.slider-360{data: { images: '/images/f4u/' }}
      .spinner
        %span 0%
      %ol.threesixty_images

  = partial("partials/box", :locals => { :title => "h1", :name => "F4U CORSAIR",:description => "", :fullLink => "ailto:infocrashcombat@gmail.com?subject=Richiesta F4U Completo &body=nome:%0D%0Aindirizzo:%0D%0AMessaggio:", :baseLink => "mailto:infocrashcombat@gmail.com?subject=Richiesta F4U Base &body=nome:%0D%0Aindirizzo:%0D%0AMessaggio:"})

  = partial "partials/details"