---
title: Welcome to Middleman
---
%div.stepRow.stepRow-intro
  .cover-background
    .cover
      .container-fluid.margin-header
        .spacer-middle
          %h1.text-white.shadow.textSpacer-sx Più di un gioco
          %h1.text-white.shadow una vera battaglia


%div.stepRow.stepBackground
  .container-fluid.margin-header
    .row.spacer-middleHeight
      .col-sm-6
        .imageRow
          %img{:src => "/images/riproduzioni.png", :class => "img-responsive valign-middle" }

      .col-sm-6
        .textRow.valign-middle
          .textSpacer-md
            %h2 Belli da vedere
            %h2 facili da assemblare
          %h3 Crash Combat produce modelli RC
          %h3 raffiguranti i più famosi aerei della 1° e 2° guerra mondiale
          %h3 con l'ambizione di proporvene sempre di nuovi.


%div.stepRow.stepBackground
  .detail
    .container-fluid.margin-header
      .row.spacer-middleHeight
        .col-sm-6.col-sm-offset-6
          .textRow.valign-middle
            .textSpacer-md
              %h2 Anche l'occhio
              %h2 vuole la sua parte
            %h3 Sebbene di modeste dimensioni (80cm x 60cm),
            %h3 nei nostri modellini combat tutta l'elettronica
            %h3 rimane all'interno della fusoliera.


%div.stepRow.stepBackground
  .crash
    .container-fluid.margin-header
      .row.spacer-middleHeight
        .col-sm-6.col-sm-offset-6
          .textRow.valign-middle
            .textSpacer-md
              %h2 Solidi e robusti
              %h2 pronti a tutti gli scontri
            %h3 I nostri aereoplani sono costruiti completamente
            %h3 in depron e polistirolo ad alta densità,
            %h3 garantendo durevolezza ad un prezzo accessibile.
