---
title: Welcome to Middleman
---
%div.stepRow.stepBackground-intro
  .cover-background
    .cover
      .container-fluid.margin-header
        .spacer-middle.spacer-vertical
          %h1.text-brand.shadow.textSpacer-sx Più di un gioco
          %h1.text-brand.shadow una vera battaglia


%div.stepRow.stepBackground
  .models
    .container-fluid
      .row.spacer-middleHeight
        .col-sm-6.col-sm-offset-3.col-md-offset-6
          .textRow.valign-middle
            .textSpacer-md
              %h2 Belli da vedere <br> facili da assemblare
            %h3 Crash Combat produce modelli RC <wbr> raffiguranti i più famosi aerei della 1° e 2° guerra mondiale <wbr> con l'ambizione di proporvene sempre di nuovi.


%div.stepRow.stepBackground
  .detail
    .container-fluid
      .row.spacer-middleHeight
        .col-sm-6.col-sm-offset-3.col-md-offset-6
          .textRow.valign-middle
            .textSpacer-md
              %h2 Anche l'occhio<br>vuole la sua parte
            %h3 Sebbene di modeste dimensioni (80cm x 60cm),<wbr> nei nostri modellini combat tutta l'elettronica<wbr> rimane all'interno della fusoliera.


%div.stepRow.stepBackground
  .crash
    .container-fluid
      .row.spacer-middleHeight
        .col-sm-6.col-sm-offset-3.col-md-offset-6
          .textRow.valign-middle
            .textSpacer-md
              %h2 Solidi e robusti <br> pronti a tutti gli scontri
            %h3 I nostri aereoplani sono costruiti completamente <wbr>in depron e polistirolo ad alta densità,<wbr> garantendo durevolezza ad un prezzo accessibile.
